/config/.env
/config/.env.example
!/config/.env.example
/.dep
/.htaccess
/index.php
/wp-*
/xmlrpc.php
/readme.html
/license.txt
/liesmich.html
!/wp-config.php
!/wp-content
/wp-content/index.php
/wp-content/uploads
/wp-content/upgrade
/wp-content/languages
/wp-content/plugins
/vendor
